#root {
  width: 100vw;
  height: 100vh;
}

.auth-errors {
  color: red;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-photo {
  content: image_url('silhouette.png');
  width: 40px;
  border-radius: 50%;
  height: auto;
}