nav.main-nav {
  background-color: white;
  border-bottom: #eeeeee 2px solid;
  display: block;
  height: 48px;
  max-width: 100vw;
  padding: 24px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .nav-left {
    display: flex;
    width: auto;

    .hamburger {
      background-color: rgba(0, 0, 0, 0);
      border-style: none;
      cursor: pointer;
      height: auto;
      padding-right: 20px;
    }

    .eats-logo {
      content: image_url('JWongEats.png');
      height: 48px;
      padding-right: 2vw;
      width: auto;
    }

    .nav-rounded {
      align-content: center;
      background-color:#eeeeee;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      height: auto;
      width: 170px;
    }

    span {
      a {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: center;
        margin: 3px 0px;
        text-align: center;
        vertical-align: middle;

        &.delivery-button {
          margin: 0px 5px;
          padding: 0px 11px;
          width: 80px;
        }
        
        &.pickup-button {
          margin: 0px 5px 0px -5px;
          padding: 0px 11px;
          width: 80px;
        }

        &.focused-button {
          background-color: white;
          border-radius: 24px;
        }
      }
    }

    p {
      align-items: center;
      background-color: #eeeeee;
      border-radius: 60px;
      display: flex;
      font-family: "Uber Regular";
      font-size: 14px;
      justify-content: center;
      margin-left: 20px;
      padding: 0px 20px;

      .fa-map-marker-alt {
        margin: 0px 5px;
      }

      &:hover {
        background-color: lightgrey;
      }
    }

    .nav-search {
      align-items: center;
      background-color: #eeeeee;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      margin-left: 2vw;
      transition: margin-left .6s ease, width .6s ease;
      width: 30%;

      .fa-search {
        margin: 0px 10px;
      }

      input {
        font-family: "Uber Regular";
        font-size: 16px;
        width: 90%;
      }

      &.search-expanded {
        margin-left: -350px;
        width: 50%;
        z-index: 6;
      }
    }

    .cart-button {
      background-color: black;
      border-radius: 20px;
      border-style: none;
      color: white;
      font-size: 16px;
      height: 40px;
      margin-top: 3px;
      position: fixed;
      right: 2vw;
      width: 100px;

      .fa-shopping-cart {
        margin-right: 10px;
      }

      &:hover {
        background-color: rgb(62, 62, 62);
      }
    }
  }
}