.hamburger {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  padding-right: 20px;
  cursor: pointer
}

.eats-logo {
  content: image_url('JWongEats.png');
  height: 48px;
  padding-right: 2vw;
  width: auto;
}

#nav-bar {
  height: 48px;
  background-color: white;
  width: 100%;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: #eeeeee 2px solid;
  position: fixed;
  top: 0;
  z-index: 5;
}

#nav-contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#nav-left {
  display: flex;
}

#method-slider, #search-bar {
  width: 170px;
  height: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color:#eeeeee;
}

.delivery-button, .pickup-button {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 3px;
}

.delivery-button {
  width: 140%;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 11px;
  padding-right: 11px;
}

.pickup-button {
  width: 140%;
  margin-left: -5px;
  margin-right: 5px;
  padding-left: 11px;
  padding-right: 11px;
}

.focused-button {
  background-color: white;
  border-radius: 24px;
}

#cart-button {
  position: fixed;
  right: 2vw;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border-style: none;
  font-size: 16px;
  color: white;
  margin-top: -20px;
  background-color: black;
}

.fa-search {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-shopping-cart {
  margin-right: 10px;
}

#cart-button:hover {
  background-color: rgb(62, 62, 62);
}

#nav-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  margin-left: 2vw;
  background-color: #eeeeee;
  border-radius: 25px;
}

#nav-search-area {
  width: 90%;
  font-size: 16px;
}

#nav-address-info {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 60px;
}

#nav-address-info:hover {
  background-color: lightgrey;
}