#map-container {
  position: absolute;
  right: 0px;
  width: 45%;
  height: 90vh;
}

.infowindow-photo {
  width: 200px;
  height: 120px;
}

.infowindow-title {
  font-size: 16px;
}

.infowindow-rating, .infowindow-price {
  font-size: 12px;
  font-weight: bold;
}

.infowindow-reviewcount {
  font-size: 12px;
}