#map-container {
  display: inline-block;
  position: absolute;
  top: 98px;
  right: 0;
  bottom: 0;
  width: 45%;
  height: auto;
  background-color: black;
}


.infowindow-photo {
  width: 200px;
  height: 120px;
}

.infowindow-title {
  font-size: 16px;
}

.infowindow-rating, .infowindow-price {
  font-size: 12px;
  font-weight: bold;
}

.infowindow-reviewcount {
  font-size: 12px;
}

.pickup-restaurants {
  overflow: auto;
  display: block;
  width: 55%;
  height: auto;
}