#map-container {
  display: inline-block;
  position: fixed;
  top: 98px;
  right: 0;
  bottom: 0;
  width: 55vw;
  height: auto;
  background-color: black;
}

.pickup-container {
  padding-left: 30px;
}

.infowindow-photo {
  width: 200px;
  height: 120px;
}

.infowindow-title {
  font-size: 16px;
}

.infowindow-rating, .infowindow-price {
  font-size: 12px;
  font-weight: bold;
}

.infowindow-reviewcount {
  font-size: 12px;
}

.pickup-restaurants {
  background-color: white;
  position: fixed;
  margin-top: 96px;
  top: 0;
  bottom: 0;
  width: 44%;
  height: auto;
  overflow-y: scroll;
  z-index: 1;
}

.pickup-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pickup-restaurant-list {
  min-width: 480px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.restaurant-container {
  width: 20vw;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.restaurant-container:hover {
  background-color: #eeeeee;
}

.restaurant-bottom {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
}

.restaurant-hours, .restaurant-name, .restaurant-price,
.restaurant-rating, .restaurant-reviewcount {
  justify-self: center;
  align-self: center;
  margin-top: -5px;
}

.restaurant-image {
  min-width: 220px;
  height: 200px;
  width: 20vw;
  background-color: lightblue;
}

.restaurant-name {
  margin-top: 5px;
  font-size: 18px;
  display: block;
  width: 100%;
  grid-area: 1 / 1 / 2 / 6;
}

.restaurant-hours {
  justify-self: start;
  font-family: "Uber Light";
  font-size: 14px;
  grid-area: 2 / 1 / 3 / 2;
}

.restaurant-price {
  font-size: 14px;
  grid-area: 2 / 2 / 3 / 3;
}

.restaurant-reviewcount {
  font-size: 14px;
  grid-area: 2 / 4 / 3 / 5;
}

.restaurant-rating {
  font-size: 14px;
  background-color: #eeeeee;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  grid-area: 2 / 5 / 3 / 6;
}