#user-modal-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .8;
  background: rgb(0, 0, 0);
  z-index: 9;
}

.profile-photo {
  content: image_url('silhouette.png');
  width: 50px;
  border-radius: 50%;
  height: auto;
}

.modal-contents {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  width: 200px;
  background: rgb(255, 255, 255);
  z-index: 3;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: transform .4s ease .1s;
  transform: translate(-100%, 0%);
  z-index: 10;
}

.modal-open {
  transform: translate(0%, 0%);
}

.user-info {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.profile-photo {
  grid-area: 1 / 1 / 3 / 2;
}

.profile-name {
  font-size: 20px;
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

#view-account-button, #profile-edit-button {
  font-family: "Uber Regular";
  font-size: 16px;
  color: #048848;
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

#close-account-button {
  font-size: 16px;
  color: #000000;
  margin-top: 0px;
}

#modal-signout-container {
  width: 100%;
  border-bottom: 2px #eeeeee solid;
  padding-bottom: 20px;
}

#modal-signout {
  margin-top: 80%;
  font-size: 18px;
  color: rgb(107, 107, 107);
}

#orders-link {
  font-size: 18px;
  font-family: "Uber Regular";
  margin-top: 0;
  position: relative;
  top: 4%;
}

.fa-receipt {
  padding-right: 15px;
}