.user-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  
  span {
    border-radius: 50%;
    content: image_url('silhouette.png');
    grid-area: 1 / 1 / 3 / 2;
    height: auto;
    width: 50px;
  }

  p {
    font-size: 20px;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
  }

  .cancel-button {
    background-color: #eeeeee;
    border-radius: 25px;
    font-size: 20px;
    margin-left: 40px;
    padding: 10px 0px;
    width: 100px;
  }

  .profile-edit-button {
    font-family: "Uber Regular";
    font-size: 16px;
    color: #048848;
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
  }
}

.modal-contents {
  &.modal-open {
    transform: translate(0%, 0%);
  }
}

.user-modal {
  section {
    background: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    padding: 2%;
    position: fixed;
    right: auto;
    top: 0;
    transform: translate(-100%, 0%);
    transition: transform .4s ease .1s;
    width: 200px;
    z-index: 10;

    header {
      .view-button {
        color: #048848;
        font-family: "Uber Regular";
        font-size: 16px;
        grid-area: 2 / 2 / 3 / 3;
        justify-self: center;
      }
      
      .close-button {
        color: #000000;
        font-size: 16px;
        margin-top: 0px;
      }      
    }

    a {
      font-family: "Uber Regular";
      font-size: 18px;
      margin-top: 0;
      position: relative;
      top: 4%;

      .fa-receipt {
        padding-right: 15px;
      }
    }

    footer {
      border-bottom: 2px #eeeeee solid;
      padding-bottom: 20px;
      width: 100%;

      button {
        color: rgb(107, 107, 107);
        font-size: 18px;
        margin-top: 80%;
      }
    }
  }
}

.user-modal-block {
  background: rgb(0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: .8;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}