.session-form {
  .session-top {
    background: black;
  
    .eats-logo-white {
      content: image_url('JWongEatsWhite.png');
      height: 48px;
      padding: 10px 0px 10px 30px;
      width: auto;
    }
  }

  .session-prompt {
    font-family: "Uber Light";
    margin: 0px 0px 15px 15px;
    text-align: left;
  }

  .session-text {
    font-family: "Uber Regular";
    margin-bottom: 15px;
  }

  .session-button {
    background: black;
    border-radius: 23px;
    color: white;
    font-family: "Uber Regular";
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 15px;

    &.demo-button {
      margin-right: 15px;
    }
  }

  .fa-sign-in {
    margin-right: 10px;
  }
  
  .fa-save {
    margin-right: 10px;
  }

  form {
    input {
      font-family: "Uber Light";
      width: 100%;
      font-size: 18px;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #eeeeee;
      margin-bottom: 15px;
    }
  }

  &.login {
    section {
      bottom: 0;
      font-size: 24px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 30%;
      width: 432px;
    }
  }

  &.signup {
    section {
      bottom: 0;
      font-size: 24px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 20%;
      width: 432px;
    }

    form footer {
      color: #757575;
      font-family: "Uber Light";
      font-size: 14px;
      margin-bottom: 15px;
      text-align: left;
    }
  }
}