.splash-nav {
  display: block;
  height: 48px;
  padding: 24px 40px;

  > section {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;

    div {
      &.left {
        display: flex;
  
        button {
          background-color: rgba(0, 0, 0, 0);
          border-style: none;
          cursor: pointer;
          height: auto;
          margin-right: 20px;
        }
        
        div.splash-logo {
          content: image_url('JWongEats.png');
          height: 48px;
          margin-right: 2vw;
          width: auto;
        }
      }

      &.right {
        a {
          align-items: center;
          background-color: #000000;
          border-radius: 24px;
          border-style: none;
          color: white;
          display: flex;
          font-family: "Uber Regular";
          font-size: 16px;
          height: 24px;
          justify-content: center;
          padding: 12px 0px;
          text-align: center;
          width: 90px;
  
          &:hover {
            background-color: rgb(62, 62, 62);
          }
        }
      }
    }
  }
}

.splash {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;

  > section {
    margin: 35vh 0px 0px 40px;

    h1 {
      font-family: "Uber Regular";
      font-size: 55px;
      margin-bottom: 30px;
    }

    .fake-bar {
      display: flex;

      p {
        background-color: white;
        font-family: "Uber Regular";
        font-size: 20px;
        margin-bottom: 25px;
        padding: 15px 0px;
        width: 30%;

        .fa-map-marker-alt {
          margin: 0px 15px;
        }
      }

      span {
        background-color: white;
        display: flex;
        font-family: "Uber Regular";
        height: 20px;
        margin-left: 10px;
        padding: 15px 20px 15px 15px;

        .fa-clock {
          margin-right: 20px;
          padding-top: 3px;
        }

        div {
          font-size: 16px;
          padding-top: 3px;
        }

        .fa-angle-down {
          margin-left: 15px;
          padding-top: 3px;
        }
      }

      button {
        background-color: black;
        color: white;
        font-family: "Uber Regular";
        font-size: 16px;
        height: 20px;
        margin-left: 15px;
        padding: 15px 15px 35px 15px;
      }
    }

    .splash-prompt {
      font-family: "Uber Regular";

      a {
        text-decoration: underline;
      }
    }
  }

  > article {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 150px;
    top: 35px;
    width: 100px;

    .splash-fill {
      border-radius: 50%;
      height: 30px;
      transition: background-color .4s ease-in-out;
      width: 30px;

      &:hover {
        background-color: rgb(93, 183, 252);
      }

      .splash-logo {
        height: 100%;
        width: 100%;

        &.angel-logo {
          object-fit: contain;
        }
      }
    }
  }

  > footer {
    bottom: 25px;
    font-family: "Uber Light";
    font-size: 12;
    padding: 0px 30px;
    position: absolute;
    text-align: center;
  }
}