.splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: image_url('BG1.png');
}

.hamburger {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-right: 20px;
  cursor: pointer
}

.eats-logo {
  content: image_url('JWongEats.png');
  height: 48px;
  margin-right: 2vw;
  width: auto;
}

.splash-nav-bar {
  height: 48px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 40px;
  padding-left: 40px;
}

.splash-nav-contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.left {
  display: flex;
}

.splash-nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 90px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 24px;
  border-style: none;
  font-size: 16px;
  color: white;
  background-color: #eeeeee;
}

.splash-nav-login:hover {
  background-color: rgb(62, 62, 62);
}

.splash-body {
  margin-top: 35%;
  margin-left: 40px;
}

.splash-title {
  font-size: 55px;
  margin-bottom: 30px;
}

.splash-fake-bar {
  display: flex;
}

.splash-prefill-search {
  width: 30%;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  margin-bottom: 25px;
}

.splash-deliver {
  display: flex;
  margin-left: 10px;
  background-color: white;
  height: 20px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.splash-deliver-text {
  font-size: 16px;
  padding-top: 3px;
}

.fa-map-marker-alt {
  margin-right: 15px;
  margin-left: 15px;
}

.fa-clock {
  padding-top: 3px;
  margin-right: 20px;
}

.fa-angle-down {
  margin-left: 15px;
  padding-top: 3px;
}

.splash-find-food {
  background-color: black;
  color: white;
  height: 20px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.splash-signin-error {
  color: red;
}

#splash-bottom-signin {
  text-decoration: underline;
}