.splash-user-modal {
  .modal-contents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    width: 200px;
    background: rgb(255, 255, 255);
    z-index: 10;
    padding: 2%;
    transition: transform .4s ease .1s;
    transform: translate(-100%, 0%);

    &.modal-open {
      transform: translate(0%, 0%);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    .splash-link {
      font-family: "Uber Regular";
      font-size: 16px;
      width: 200px;
      height: 50px;
      background-color: black;
      color: white;
    }
  }
}