.update-form {
  margin-top: 30px;
  z-index: 4;

  form {
    p {
      font-size: 18px;
    }

    input {
      background-color: #eeeeee;
      font-size: 16px;
      margin: 5px 0px;
      width: 200px;
    }

    input[type=submit] {
      color: #048848;
      cursor: pointer;
      font-size: 20px;
      margin: 15px 0px 0px 20px;
    }
  }
}