#delivery-container {
  max-width: 100%;
}

#delivery-left {
  position: sticky;
  height: 40px;
  top: 13vw;
  background-color: orange;
  width: 25vw;
  padding-left: 30px;
}

#delivery-categories {
  width: 90%;
  margin: 0 auto;
  height: 10vh;
  background-color: #00ffff;
  padding-top: 14vh;
  margin-bottom: 20px;
  border-bottom: #eeeeee 2px solid;
}

#delivery-banner-ads {
  margin: 0 auto;
  width: 90%;
  height: 20vh;
  background-color: plum;
  margin-top: 50px;
}

#delivery-topbar {
  display: grid;
  width: 90%;
  grid-template-columns: 3fr 7fr;
}

#delivery-stores {
  grid-column: 1;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#delivery-top-picks {
  grid-column: 2;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#delivery-restaurant-list {
  position: absolute;
  width: 70vw;
  right: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#delivery-restaurant-container {
  // max-width: 350px;
  // min-width: 230px;
  min-height: 200px;
}

#delivery-restaurant-image {
  min-width: 200px;
  min-height: 100px;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  height: 70%;
  background-color: aqua; 
}

#delivery-restaurant-bottom {
  display: grid;
  height: 30%;
  grid-template-columns: repeat(3 auto);
  grid-template-rows: repeat(2 auto);
  grid-column-gap: 10px;
}

#delivery-restaurant-hours, #delivery-restaurant-name, #delivery-restaurant-price,
#delivery-restaurant-rating, #delivery-restaurant-reviewcount {
  justify-self: center;
  align-self: center;
}

#delivery-restaurant-name {
  margin-top: 5px;
  font-size: 100%;
  display: block;
  width: 100%;
  grid-area: 1 / 1 / 2 / 3;
}

#delivery-restaurant-hours {
  justify-self: stretch;
  font-family: "Uber Light";
  font-size: 14px;
  grid-area: 2 / 2 / 3 / 3;
}

#delivery-restaurant-price {
  justify-self: start;
  font-family: "Uber Light";
  font-size: 14px;
  grid-area: 2 / 1 / 3 / 2;
}

#delivery-restaurant-reviewcount {
  font-size: 14px;
  grid-area: 2 / 3 / 3 / 4;
}

#delivery-restaurant-rating {
  justify-self: center;
  font-size: 14px;
  background-color: #eeeeee;
  width: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  grid-area: 1 / 3 / 2 / 4;
}