#delivery-container {
  max-width: 100%;
}

#delivery-banner-ads {
  margin: 0 auto;
  width: 90%;
  height: 20vh;
  background-color: plum;
  margin-top: 50px;
}

#delivery-topbar {
  display: grid;
  width: 90%;
  grid-template-columns: 3fr 7fr;
}

#delivery-stores {
  grid-column: 1;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#delivery-top-picks {
  grid-column: 2;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#delivery-restaurant-list {
  position: absolute;
  width: 70vw;
  right: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#delivery-restaurant-container {
  // max-width: 350px;
  // min-width: 230px;
  min-height: 200px;
}

#delivery-restaurant-image {
  min-width: 200px;
  width: 100%;
  object-fit: cover;
  height: 150px;
}

#delivery-restaurant-bottom {
  display: grid;
  height: 30%;
  grid-template-columns: repeat(3 auto);
  grid-template-rows: repeat(2 auto);
  grid-column-gap: 10px;
}

#delivery-restaurant-hours, #delivery-restaurant-name, #delivery-restaurant-price,
#delivery-restaurant-rating, #delivery-restaurant-reviewcount {
  justify-self: center;
  align-self: center;
}

#delivery-restaurant-name {
  margin-top: 5px;
  font-size: 100%;
  display: block;
  width: 100%;
  grid-area: 1 / 1 / 2 / 3;
}

#delivery-restaurant-hours {
  justify-self: stretch;
  font-family: "Uber Light";
  font-size: 14px;
  grid-area: 2 / 2 / 3 / 3;
}

#delivery-restaurant-price {
  justify-self: start;
  font-family: "Uber Light";
  font-size: 14px;
  grid-area: 2 / 1 / 3 / 2;
}

#delivery-restaurant-reviewcount {
  font-size: 14px;
  grid-area: 2 / 3 / 3 / 4;
}

#delivery-restaurant-rating {
  justify-self: center;
  font-size: 14px;
  background-color: #eeeeee;
  width: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  grid-area: 1 / 3 / 2 / 4;
}

.image-filler {
  display: block;
  min-width: 200px;
  width: 100%;
  height: 150px;
  background-color: aqua;
}

#delivery-categories {
  width: 70%;
  margin: 0 auto;
  height: 10vh;
  padding-top: 98px;
  margin-bottom: 20px;
  border-bottom: #eeeeee 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delivery-filter-button {
  font-size: 16px;
  font-family: "Uber Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-filter-icon {
  height: 50px;
  width: auto;
}

.delivery-filter-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.delivery-filter-icon-wrapper:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

#delivery-left {
  float: left;
  height: 800px;
  top: 150px;
  width: 25vw;
  padding-left: 30px;
}

#delivery-sort-wrapper {
  position: sticky;
  top: 150px;
}

.delivery-left-header {
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 2px #eeeeee solid;
}

.sort-button-wrapper {
  width: 200px;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.delivery-sort-button {
  width: auto;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  background-color: #eeeeee;
}

.delivery-sort-button-selected {
  background-color: lightgray;
}

#carousel-container-outer {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  overflow: hidden;
}

#carousel-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.carousel-container-transition {
  transition: transform 0.7s ease-in-out;
}

.carousel-item {
  height: 130px;
  width: calc(33.33% - 39px);
  margin: 0px 12px;
  background-color: #eeeeee;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}

.carousel-slide-title {
  font-size: 30px;
  padding-bottom: 10px;
}

.carousel-slide-desc {
  width: 80%;
  margin: 0 auto;
}

#carousel-right, #carousel-left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  background-color: #eeeeee;
  padding: 10px;
  display: block;
  border-radius: 20px;
}

#carousel-right:hover, #carousel-left:hover {
  background-color: lightgray;
}