.restaurant-page-container {
  padding-top: 96px;
}

.restaurant-banner {
  height: 13vh;
  background-color: brown;
}

.restaurant-page-name {
  width: auto;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.restaurant-small {
  width: auto;
  padding-left: 30px;
}

.menu-items-wrapper {
  width: 70vh;
  position: absolute;
  padding-right: 20px;
  right: 0;
}

.menu-items-list {
  display: grid;
  grid-template-columns: repeat(1);
  gap: 30px;
}

.menu-item-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: 1fr 1fr 4fr;
}

.menu-item-photo {
  justify-self: end;
  height: 150px;
  width: 30vw;
  background-color: black;
  grid-area: 1 / 2 / 4 / 3;
}

.menu-item-name {
  font-size: 18px;
  grid-area: 1 / 1 / 2 / 2;
}

.menu-item-price {
  font-size: 14px;
  grid-area: 2 / 1 / 3 / 2;
}

.menu-item-description {
  color: rgb(117, 117, 117);
  font-size: 14px;
  grid-area: 3 / 1 / 4 / 2;
  word-wrap: normal;
}