.food-modal {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;

  .food-modal-block {
    background-color: rgba(80, 80, 80, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
  }

  .food-modal-content {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 30%;
    left: 30%;
    background-color: white;
    z-index: 8;
    overflow-y: scroll;

    > button {
      background-color: white;
      padding: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      vertical-align: middle;
      position: relative;
      left: 10px;
      bottom: auto;
      right: auto;
      top: 10px;
    }

    .food-modal-item {
      img {
        width: 100%;
        max-height: 450px;
        height: 70%;
        object-fit: cover;
      }

      h2 {
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
      }

      h3 {
        font-size: 30px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-top: 20px;
      }

      p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        font-family: "Uber Light";
        font-size: 16px;
      }

      h4 {
        padding-left: 20px;
        padding-bottom: 20px;
      }

      footer {
        font-family: "Uber Light";
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: #eeeeee 2px solid;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 40px;

      section {
        display: flex;
        justify-content: center;
        align-items: center;
  
        button {
          background-color: #eeeeee;
          width: 36px;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 30px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: lightgray;
          }

          &:active {
            background-color: gray;
          }
        }
  
        p {
          width: 20px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      button {
        justify-self: end;
        background-color: black;
        color: white;
        max-width: 85%;
        min-width: 40%;
        height: 100%;
        width: 75%;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .add-left {
          font-size: 18px;
          justify-self: right;
          align-self: center;
        }
        
        .add-right {
          justify-self: right;
          align-self: center;
          font-size: 18px;
        }
      }
    }
  }
}