#cart-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

#cart-modal-block {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 28%;
  z-index: 7;
  background-color: rgba(80, 80, 80, .8);
}

#cart-modal-content {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 72%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: white;
}

#cart-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

#cart-header {
  display: block;
  padding-top: 10px;
}

#cart-title {
  font-family: "Uber Regular";
  font-size: 46px;
  padding-bottom: 10px;
}

#cart-address {
  font-family: "Uber Light";
  font-size: 16px;
  padding-bottom: 10px;
}

#cart-top-buttons {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#cart-add-items, #cart-group-order {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: #eeeeee;
}

#cart-add-items:hover, #cart-group-order:hover {
  background-color: rgb(218, 218, 218);
}

#cart-items {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}

#menu-checkout-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 28vw;
  display: flex;
}

#menu-checkout-container {
  box-shadow: 0px 0px 10px 10px rgba(117, 117, 117, 0.1);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  height: 100px;
  position: relative;
  top: auto;
  bottom: 0px;
  width: 100%;
}

#menu-checkout {
  font-family: "Uber Regular";
  align-self: center;
  color: white;
  height: 60px;
  background-color: black;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

#menu-checkout:hover {
  background-color: rgb(80, 80, 80);
}