.history-body {
  position: fixed;
  top: 98px;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 98px);
  width: 100%;
}

.history-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-right: 50px;
}

.history-header {
  font-family: "Uber Medium";
  font-size: 35px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 25px;
  width: auto;
}

.history-order-photo-wrapper {
  display: inline-block;
  width: 250px;
  height: 150px;
  width: auto;
}

.history-order-photo {
  width: 300px;
  height: 140px;
  object-fit: cover;
}

.history-order-container {
  min-height: 150px;
  min-width: 1050px;
  padding-top: 15px;
  width: calc(100% - 40px);
  padding-left: 40px;
  display: grid;
  grid-template-columns: 330px auto 200px;
  grid-template-rows: 70px auto;
  padding-bottom: 10px;
  border-bottom: 2px #eeeeee solid;
}

.history-order-container:last-child {
  border-bottom: none;
}

.history-order-title {
  font-family: "Uber Regular";
  font-size: 20px;
  padding-bottom: 15px;
}

.history-order-subtitle {
  font-size: 14px;
  display: flex;
  font-family: "Uber Light";
}

.history-view-receipt {
  padding-left: 5px;
  font-family: "Uber Regular";
  text-decoration: underline;
}

.history-item-wrapper {
  display: flex;
  padding-bottom: 20px;
}

.history-item-quantity {
  display: flex;
  font-family: "Uber Regular";
  color: black;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px #eeeeee solid;
}

.history-item-title {
  font-family: "Uber Regular";
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-title-container {
  grid-area: 1 / 2 / 2 / 3;
}

.history-item-list {
  grid-area: 2 / 2 / 3 / 3;
}

.history-store-button {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  grid-area: 1 / 3 / 3 / 4;
}

.history-store-button-text {
  text-align: center;
  width: auto;
}

.history-rest-name {
  font-family: "Uber Light";
  padding-left: 5px;
}

#no-orders {
  font-size: 26px;
  padding-left: 50px;
}