.history-body {
  bottom: 0;
  height: calc(100% - 98px);
  left: 0;
  position: absolute;
  right: 0;
  top: 98px;
  width: 100%;

  > h2 {
    background-color: white;
    font-family: "Uber Medium";
    font-size: 35px;
    padding: 15px 0px 25px 40px;
    position: sticky;
    top: 98px;
    width: 300px;
  }

  > ul.order-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-right: 50px;

    > li {
      border-bottom: 2px #eeeeee solid;
      display: grid;
      grid-template-columns: 330px auto 200px;
      grid-template-rows: 70px auto;
      min-height: 150px;
      min-width: 1050px;
      padding: 15px 0px 10px 40px;
      width: calc(100% - 40px);

      &:last-child {
        border-bottom: none;
      }

      > a > div {
        display: inline-block;
        height: 150px;
        width: auto;

        > img {
          height: 140px;
          object-fit: cover;
          width: 300px;
        }
      }

      header {
        h2 {
          font-family: "Uber Regular";
          font-size: 20px;
          padding-bottom: 15px;
        }

        p {
          display: flex;
          font-family: "Uber Light";
          font-size: 14px;

          button {
            font-family: "Uber Regular";
            padding-left: 5px;
            text-decoration: underline;
          }
        }
      }

      ul {
        grid-area: 2 / 2 / 3 / 3;

        > li {
          display: flex;
          padding-bottom: 20px;

          p {
            align-items: center;
            border: 1px #eeeeee solid;
            color: black;
            display: flex;
            font-family: "Uber Regular";
            font-size: 14px;
            height: 20px;
            justify-content: center;
            width: 20px;
          }

          h3 {
            align-items: center;
            display: flex;
            font-family: "Uber Regular";
            justify-content: center;
            padding-left: 20px;

            span {
              font-family: "Uber Light";
              padding-left: 5px;
            }
          }
        }
      }

      .store-link {
        align-items: center;
        background-color: black;
        color: white;
        display: flex;
        grid-area: 1 / 3 / 3 / 4;
        height: 50px;
        justify-content: center;
        text-align: center;
        width: auto;
      }
    }

    li.no-orders {
      font-size: 26px;
      padding-left: 50px;
    }
  }

  > section {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    article {
      background-color: white;
      bottom: auto;
      left: 32%;
      max-height: 750px;
      overflow-y: scroll;
      padding: 20px;
      position: fixed;
      right: 32%;
      top: 10%;
      z-index: 11;

      header {
        button {
          height: 30px;
          width: 30px;
        }

        h3 {
          font-size: 24px;
          padding-top: 20px;
        }

        p {
          border-bottom: lightgray 2px solid;
          font-family: "Uber Light";
          font-size: 16px;
          padding: 10px 0px 20px 0px;
        }
      }

      section {
        border-bottom: lightgray 2px solid;
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        padding: 20px;
      }

      ul {
        border-bottom: lightgray 2px solid;
        padding: 20px 0px 20px 10px;

        li {
          display: grid;
          font-family: "Uber Regular";
          grid-template-columns: 50px auto 100px;
          grid-template-rows: auto auto;
          padding: 15px 0px;

          p {
            align-items: center;
            border: 1px #eeeeee solid;
            display: flex;
            grid-area: 1 / 1 / 3 / 2;
            height: 30px;
            justify-content: center;
            width: 30px;
          }

          h3 {
            align-self: center;
            grid-area: 1 / 2 / 2 / 3;
          }

          .receipt-item-subtitle {
            font-family: "Uber Light";
            grid-area: 2 / 2 / 3 / 3;
          }

          .receipt-item-price {
            grid-area: 1 / 3 / 2 / 4;
          }
        }
      }

      .receipt-payment {
        border-bottom: lightgray 2px solid;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 10px 20px;

        .receipt-total {
          font-size: 24px;
        }

        .receipt-price {
          font-size: 24px;
          padding-bottom: 15px;
        }
      }

      .receipt-footer {
        font-size: 30px;
        padding: 30px 0px 10px 0px;
        text-align: center;
      }

      footer {
        font-family: "Uber Light";
        font-size: 12px;
        text-align: center;
      }
    }

    .receipt-modal-block {
      background-color: rgba(80, 80, 80, .8);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}