.checkout-order-container {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  section {
    background-color: white;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    left: 5%;
    padding: 20px;
    position: fixed;
    right: 60%;
    top: 15%;
    z-index: 1;

    header {
      font-size: 24px;
      padding: 20px 0px 20px 20px;
    }

    ul {
      height: auto;
      padding-bottom: 30px;
      width: 90%;

      li {
        display: grid;
        grid-template-columns: 70px auto 90px;
        grid-template-rows: auto auto;
        padding: 15px 0px;

        p {
          align-items: center;
          align-self: center;
          border: #eeeeee 2px solid;
          display: flex;
          font-family: "Uber Light";
          font-size: 16px;
          grid-area: 1 / 1 / 3 / 2;
          height: 30px;
          justify-content: center;
          justify-self: center;
          width: 30px;
        }

        h2 {
          align-self: center;
          font-size: 18px;
          grid-area: 1 / 2 / 2 / 3;
          justify-self: start;
          text-align: left;
        }

        h3 {
          font-family: "Uber Light";
          font-size: 14px;
          grid-area: 2 / 2 / 3 / 3;
          padding-top: 5px;
        }

        span {
          align-self: center;
          font-family: "Uber Light";
          font-size: 18px;
          grid-area: 1 / 3 / 2 / 4;
          justify-self: end;
        }
      }
    }

    > h2 {
      font-size: 24px;
      padding-bottom: 20px;
      text-align: center;
      width: 100%;
    }

    footer {
      font-size: 24px;
      margin: 0 auto;
      text-align: center;
      width: 100%;

      p {
        font-family: "Uber Light";
        font-size: 14px;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
      }
    }
  }
  
  .checkout-map-container {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
}
