.nav-bar {
  display: block;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
}

.delivery-button, .pickup-button {
  display: inline-block;
}

.no-modify-default {
  color: red
}

.eats-logo {
  content: image_url('JWongEats.png');
  height: 60px;
  width: auto;
}

.profile-photo {
  content: image_url('silhouette.png');
  width: 50px;
  border-radius: 50%;
  height: auto;
}